body{
    font-size: 16px;
}
h1{
    size: 65px;
    color: orange;
    font-family: sans-serif;
}
p, ul{
    background-color: royalblue;
    line-height:32px;
}
p{
    font-weight: 600px;
    size: 48px;
}
ul{
    background-color: black;
    color: white;
}